h1{
    color: rgb(41, 133, 203);
    text-align: center;
    margin-top: 1rem;
}


.todo-wrapper{
    padding: 2rem;
    padding-top: 1px;
    border-radius: 1em;
    width: 450px;
    background-color: rgb(190, 234, 254);
}

body{
    background-color: rgb(18, 17, 73);
    display: flex;
    justify-content: center;
}